apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: bridge_ex
  description: asdasdsad

  tags:

    - rust


spec:
  type: library
  lifecycle: experimental
  owner: group:default/org-prima
  system: prima.it
