apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: bridge_ex
  description: sadasd
tags:
- elixir
- python
spec:
  type: library
  lifecycle: experimental
  owner: group:default/org-prima
  system: prima.it
